<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
</head>

<body>
    <h1>Fruits show page</h1>
    <p>The fruit you requested is:</p>
    <p>
        <%= fruit.name.toUpperCase() %>
    </p>

    <% if (fruit.readyToEat) { %>
    <p>It's ready to eat</p>
    <%} else { %>
    <p>It's NOT ready to eat : </p>
    <%} %>

    }
</body>

</html>